input.slider.form-control(id='{{pmSlider.id}}', class='slider-{{pmSlider.orientation}}', type="text", data-slider-min='{{pmSlider.min}}', data-slider-max='{{pmSlider.max}}', data-slider-step='{{pmSlider.step}}', data-slider-orientation='{{pmSlider.orientation}}', data-slider-value='{{pmSlider.value}}')
.help-block.m-b-none(ng-if='pmSlider.help') {{pmSlider.help}}