extends ../../../../jade-inc/content-layout
include ../../../../jade-inc/form-mixins

block content-header
  p Lucky Draw Settings

block content-body
  section#luckydraw-page.panel.panel-default
    .panel-body

      form.form-horizontal
        h3.col-lg-12 {{title}}
          span(ng-show='edit') :&nbsp;
            strong {{prize.name}}

        h4.col-lg-12 Images
        .col-lg-6
          +dropfile-zone('Cover')
        .col-lg-6
          +dropfile-zone('Home Page Background')

        h4.col-lg-12 Other Informations
        .col-lg-6
          +input-text({id:'prize-name', label: 'Name', placeholder: 'Name of the prize'})(ng-model='prize.name')
          +textarea({id: 'prize-description', label: 'Description', placeholder: 'Description of the prize'})(ng-model='prize.description')
          +input-spinner({id:'prize-nb', label: 'How many', min: 1, max: 999, step: 1})(ng-model='prize.nb')
          //- +input-spinner({id:'prize-position', label: 'Position', value: 1, min: 1, max: 999, step: 1})(ng-model='prize.position')

        .col-lg-12.line.line-dashed.line-lg.pull-in
        .col-lg-6
          +form-actions([{btnClass:'default', label: 'Cancel'},{btnClass:'primary', label: 'Save changes'}])