ul.list-group.gutter.list-group-lg.list-group-sp(pm-sortable, ng-controller='listCtrl')
  li.list-group-item(ng-repeat='item in items', pm-price-item)
    span.pull-right
      a(ui-sref="luckydraw.price.edit({priceId:item.id})")
        i.fa.fa-pencil.icon-muted.fa-fw.m-r-xs
      a(ng-click="copyPrice(item)")
        i.fa.fa-plus.icon-muted.fa-fw.m-r-xs
      a(ng-click="deletePrice(item)")
        i.fa.fa-times.icon-muted.fa-fw
    span.pull-left.media-xs
      i.fa.fa-sort.text-muted.fa.m-r-sm
    .clear {{item.title}}

button.btn.btn-link(ui-sref="luckydraw.price.new") 
  i.fa.fa-plus.fa-fw.m-r-xs
  | Add a new price