.spinner.input-group(data-min="{{pmSpinner.min}}", data-max="{{pmSpinner.max}}")
  input.form-control.spinner-input(type="text", value="{{pmSpinner.value}}")
  .btn-group.btn-group-vertical.input-group-btn
    button.btn.btn-default.spinner-up(type="button")
      i.fa.fa-chevron-up.text-muted
    button.btn.btn-default.spinner-down(type="button")
      i.fa.fa-chevron-down.text-muted