doctype html
html.app
  head
    block stylesheet
      link(rel="stylesheet", type="text/css", href="css/vendor.min.css")
      link(rel="stylesheet", type="text/css", href="css/app.min.css")
    script(type="text/javascript", src="js/vendor.min.js")
  body
    section.vbox(ng-app="pmLucky")
      section
        section.hbox.stretch
          include jade-inc/menu    
          section#content   
            section.hbox.stretch(ui-view="content")

    block scripts
      script(type="text/javascript", src="js/app.min.js")