div(ng-class='"page-"+pageName')
  .kiwi-grid
    .kiwi-col.l-1-3
      a.button(ui-sref='settings')
        span Global Settings
    .kiwi-col.l-1-3
      a.button(ui-sref='luckydraw')
        span Lucky Draw Settings
    .kiwi-col.l-1-3
      a.button(ui-sref='form')
        span Form Settings
    .kiwi-col.l-1-3
      a.button(ui-sref='sharing')
        span Sharing Settings
    .kiwi-col.l-1-3
      a.button(ui-sref='statistics')
        span Statistics