section.vbox
  header.header.b-b.hidden-print.bg-light.bg-gradient
    block content-header
  section.wrapper.scrollable
    .slim-scroll(data-height="auto", data-disable-fade-out="true", data-distance="0", data-size="5px", data-color="#333333")
      block content-body